@use "../../styles/partials/global";

.activity {
  background-color: white;
  font-family: "SF Pro Display";
  height: 80vh;
  margin-top: 1rem;

  &__title {
    font-family: "Arial";
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 1rem;
    line-height: 1.5rem;
  }

  padding: 2rem 1rem;

  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 8px 30px;
    align-self: baseline;
  }

  &__button {
    margin: 1rem;
    cursor: pointer;    
    width: 148px;
    height: 39px;
    left: 20px;
    top: 267px;

    background: #ffffff;
    border: 1px solid #f3950d;
    box-sizing: border-box;
    border-radius: 20px;

    &:focus{
        outline: none;
        background-color: #FABB51
        ;
        box-shadow: none;
    }

    &-text {
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 0px 10px;
      &:focus {
          color: white;
      }
    }
  }

  &__submit {
      cursor: pointer;
      border: none;
      font-size: 1.3rem;
      padding-top: 1.5rem;
      background-color: white;
      color: #3493A8;
      font-weight: 400;
      margin-right: 0;
      margin-left: auto;
      margin-top: auto;
      margin-bottom: 1rem;
      display: flex;
      width: 10rem;
      justify-self: flex-end;
      text-decoration: none;
      padding-bottom: 3rem;
      font-family: Arial, Helvetica, sans-serif;

  }
}

a:link {
    list-style: none;
    color: #3493A8;
}

a:visited {
    color: #3493A8;
  }
